@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #1F2937;
}

.header-container {
    justify-content: center;
    display: flex;
}

.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    padding: 16px 48px;
    width: 949px;
}


.logo p{
    display: flex;
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
    margin: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.links ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 16px;
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}

.first-section {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 112px 48px;
    padding-top: 88px;
    gap: 48px
}

button {
    padding: 6px 24px;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 600;
    border-radius: 6px;
    outline: none;
    border: none;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
    background-color: gray;
    width: 450px;
    height: 200px;
}

.explain {
    width: 450px;
}
.explain h2, .explain p{
    margin: 0;
    padding: 0;
}

.explain h2 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 700;
}

.explain p {
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 300;
}

.borders {
    width: 175px;
    height: 175px;
    border: 3px #3882f6 solid;
    border-radius: 15px;

}

.second-section {
    padding-top: 16px;
    padding-bottom: 88px;
}

.second-section h2 {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
}

.images {
    display: flex;
    gap: 48px;
    text-align: center;
    justify-content: center;
    color: gray;
    font-size: 18px;
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 175px
}

.third-section {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
    padding: 48px;
    padding-top: 120px;
    padding-bottom:88px;
}

.quote-container {
    max-width: 780px;
}

.quote {
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
    color: #1f2937;
}

.thor {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    padding: 0 48px;
}

.third-section p {
    margin: 0;
}

.fourth-section {
    display: flex;
    padding: 64px 0;
    justify-content: center;
    align-items: center;
}

.cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    color: #f9faf8; 
    padding:38px 80px;
    border-radius: 6px;
    gap: 150px;
}

.cta h3 {
    font-size: 24px;
}

.cta p {
    font-weight: lighter;
    font-size: 18px;
}

.cta p, .cta h3{
    margin: 0;
}

.cta button {
    display: flex;
    align-items: center;
    border: #f9faf8 2px solid;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 16px 48px;
}

